@model List<ResultCarWithBrandDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int i = 0;
}

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Araçlar  <td><a class="btn btn-outline-success" href="/Admin/AdminCar/CreateCar/">Yeni Ekle</a></td>
                </h4>
                <p class="card-subtitle mb-4">
                    Arabalarla ilgili <strong>ekleme</strong>,<strong>silme</strong> ve <strong>güncelleme</strong> işlemlerini bu sayfa üzerinden gerçekleştirebilirsiniz.
                </p>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Marka</th>
                                <th>Model</th>
                                <th>Vites Türü</th>
                                <th>Km</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                                <th>Detaylar</th>
                                <th>Özellik Ata</th>
                                <th>Sitede Gör</th>
                                <th>Fiyat Bilgileri</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                i++;
                                <tr>
                                
                                
                                <td>@i</td>
                                <td>@item.BrandName</td>
                                <td>@item.Model</td>
                                <td>@item.Transmission</td>
                                <td>@item.Km</td>
                                    <td><a data-id="@item.Id" class="btn btn-outline-danger Delete">Sil</a></td>                       
                                    <td><a class="btn btn-outline-warning" href="/Admin/AdminCar/UpdateCar/@item.Id">Güncelle</a></td>
                                    <td><a class="btn btn-outline-info" href="/Admin/AdminCarFeature/Index/@item.Id">Detaylar</a></td>
                                    <td><a class="btn btn-outline-secondary" href="/Admin/CreateFeatureByCarId/Index/@item.Id">Özellik Ata</a></td>
                                    <td><a class="btn btn-outline-dark" href="/AdminCar/CarDetails/@item.Id">Sitede Gör</a></td>                               
                                    <td><a class="btn btn-outline-success" href="/AdminCar/CarDetails/@item.Id">Fiyat Bilgileri</a></td>                               
                            </tr>
                            }
                          
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
 
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(".table").on("click", ".Delete", function () {
        var btn = $(this); //tıklanan butonu yakalar
        var id = btn.data("id"); //tıklanan datanın id özelliğini getirir
        Swal.fire({
            title: 'UYARI!',
            text: "Seçilen aracı silmek istediğinize emin misiniz?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#5CBA6C',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet',
            cancelButtonText: 'Hayır'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: "/Admin/AdminCar/RemoveCar/" + id,
                    success: function (s) {
                        if (s) {
                            Swal.fire(
                                'Başarılı!',
                                'Seçilen Araç Silindi .',
                                'success'
                            )
                            btn.parent().parent().remove();
                        }
                    }
                });
            }
            else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire({
                    icon: 'info',
                    text: 'Silme işlemi yapılmadı'
                });
            }
        });
    });
</script>